.p-home {
  scroll-behavior: smooth;
}

/*.p-home .page-banner__logo {
  height: 1em;
  font-size: 14rem;
}*/

.p-home .p-home__banner-header {
  height: var(--height__home-banner-main);
}

.p-home .p-home__banner-footer {
  height: var(--height__home-banner-menu);
}

.p-home .p-home__banner-footer-menu {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
