.p-home {
  scroll-behavior: smooth;
}


.p-home .p-home__banner {
  min-width: var(--breakpoint-threshold--xSmall);
}

.p-home .p-home__banner-header {
  height: var(--height__home-banner-main);
}

.media-greater-than-x-large .p-home .p-home__banner-header-accordion {
  width: 70%;
}

.p-home .p-home__banner-footer {
  height: var(--height__home-banner-menu);
}

.p-home .p-home__banner-footer-menu {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
