.o-tap-target--sm {
  width: var(--dimension__tap-target--sm);
  height: var(--dimension__tap-target--sm);
}

.o-tap-target--md {
  width: var(--dimension__tap-target--md);
  height: var(--dimension__tap-target--md);
}

.o-tap-target--lg {
  width: var(--dimension__tap-target--lg);
  height: var(--dimension__tap-target--lg);
}
