/**
 * TODO: Greater separation between
 * styles that should be "core" and those
 * that should be optional -- or just lend a
 * different variety to things.
 */

.tfa-accordion {
  width: 100%;
  overflow: hidden;
  position: relative;
  contain: layout;
}

.tfa-accordion .tfa-panel {
  /*position: absolute;*/
  /*top: 0;*/
  width: 100%;
}


.tfa-accordion .tfa-panel .tfa-panel-tab {
  width: 100%;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.tfa-accordion .tfa-panel .tfa-panel-body {

}



/* TODO: Should this be "core"? How can we make animation more configurable? */
.tfa-accordion .tfa-panel .tfa-panel-body:not([aria-hidden="false"]) {
  display: none;
}
