/*
*
* Variables used in setting whitespace properties
*
*/

:root {

  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 4rem;
  --spacing-5: 8rem;

  /* Indentation for text relative to a containing element (hence the "ems", not "rems") */
  --indentation-1: 1.25em;
  --indentation-2: 2em;
  --indentation-3: 3em;

  /*
   * 180:130 padding ratio to align content aspect ratio with human FOV
   */
  --padding__content-box: 0.75em 1.05em;
  --padding__content-box--lg: 1.5em 2.10em;
}
