{{#component
  tabComponent
  class="c-accordion__panel-tab"
  panelExpandedClass="c-accordion__panel-tab--expanded"
}}

  {{svg-icon class="c-accordion__panel-tab-icon u-mr-md" fileName="icon-plus" stroke="currentColor"}}

  <span class="">{{title}}</span>

{{/component}}
