<div class="c-home-banner__accordion-container o-grid o-grid--align-middle u-fill-height">

  {{#tf-accordion class="c-accordion c-accordion--fancy c-home-banner__accordion g-box-shadow-4 o-grid-cell o-grid-cell-12" as |accordion|}}

    {{#accordion.panel
      class="c-accordion__panel g-bg-primary"
      expandedClassName="c-accordion__panel--expanded" as |panel|
    }}
      {{#panel.tab
        class="c-home-banner__panel-tab c-accordion__panel-tab o-grid o-grid--align-center"
        panelExpandedClass="c-accordion__panel-tab--expanded"
      }}
        {{svg-icon class="c-accordion__panel-tab-icon o-grid-cell" fileName="icon-plus" stroke="currentColor" stroke-width="0.125rem"}}
        <span class="o-grid-cell o-grid-cell-11 u-text-center u-inline-block u-fill-width">Ember Ticketfly Accordion</span>
      {{/panel.tab}}

      {{#panel.body class="c-home-banner__panel-body c-accordion__panel-body"}}
        <section class="u-text-center o-box--inset-md o-grid o-grid--align-center o-grid--align-middle u-fill-height">
          <p class="o-grid-cell">
            An ARIA-compliant, dependency-free, Web Animations API-powered accordion system comprised of composable Ember components.
          </p>
        </section>
      {{/panel.body}}

    {{/accordion.panel}}

  {{/tf-accordion}}

</div>
