<div
  class="u-relative
         u-fill
         o-page-frame
         o-grid
         o-grid--nowrap
         o-grid--align-middle">

  <a class="c-navbar__logo
            o-grid-cell
            o-grid
            o-grid--nowrap
            o-grid--align-middle
            g-link-reset"
      href="https://github.com/Ticketfly-UI"
      target="_blank">

    {{inline-svg 'logos/tf-circle--theme-purple' class="o-tap-target--md o-grid-cell u-mr-md"}}
    <span class="o-grid-cell g-font-400 g-font-heading g-primary">Open Source</span>
  </a>

  <a href="https://github.com/Ticketfly/ember-ticketfly-accordion" class="o-grid-cell u-ml-auto o-color-shifting c-navbar__nav-item">
    {{svg-icon fileName="icon-github-logo-mark" class="o-tap-target--md" fill="currentColor"}}
  </a>

</div>

{{yield}}
