:root {
  --color__panel-tab: hsla(0, 0%, 92%, 1.00);
  --background-color__panel-tab: var(--theme-color__primary);
  --background-color__panel-body: hsla(0, 0%, 100%, 1.00);
}

.c-accordion .c-accordion__panel-tab,
.c-accordion .c-accordion__panel-body {
  position: relative;
}

.c-accordion .c-accordion__panel-tab::before,
.c-accordion .c-accordion__panel-tab::after,
.c-accordion .c-accordion__panel-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-accordion .c-accordion__panel-tab::after {
  z-index: 1;
}

.c-accordion .c-accordion__panel-tab {
  display: flex;

  /* Firefox only: prevents wrapping in buttons (http://stackoverflow.com/questions/30979265/css-flexbox-wraps-content-in-firefox-not-chrome) */
  display: -moz-box;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.75rem 1.12rem;
  font-weight: bold;
  color: var(--color__panel-tab);
  background-color: var(--background-color__panel-tab);
}

.c-accordion .c-accordion__panel-body {
  background-color: var(--background-color__panel-body);
}

.c-accordion .c-accordion__panel-tab,
.c-accordion .c-accordion__panel-body {
  padding: 0.75rem 1.12rem;
}

.c-accordion .c-accordion__panel-tab:focus {
  outline: none;
}

.c-accordion .c-accordion__panel-tab:focus::after {
  border: 0.19rem solid var(--theme-color__supporting-1--dark);
}

.c-accordion .c-accordion__panel-tab:focus::-moz-focus-inner {
  border: 0;
}
