/**
 * Variables for the .c-accordion component
 */
:root {
  --background-color__panel-header: var(--theme-color__primary-1--500);
  --color__panel-header: var(--theme-color__nearWhite);
}

.c-accordion {

}

.c-accordion .c-accordion__panel-header {
  font-size: 1em;
  font-weight: bold;
  color: var(--color__panel-header);
  background-color: var(--background-color__panel-header);

}

.c-accordion .c-accordion__panel-header:focus {
  background-color: color(
    var(--background-color__panel-header) 
    blackness(+15%)
  );
}

.c-accordion .c-accordion__panel-body {
  background-color: var(--theme-color__nearWhite);
}