.c-home-banner .c-home-banner__panel-tab {
  font-size: 3rem;
}

.c-home-banner .c-home-banner__panel-tab {
  color: var(--theme-color__supporting-1--lighter);
}

.c-home-banner .c-home-banner__panel-body {
  font-size: 2rem;
}

.c-home-banner .c-home-banner__accordion {
  outline-color: var(--theme-color__accent-1);
}
