.c-home-banner .c-home-banner__logo,
.c-home-banner .c-home-banner__accordion-container,
.c-home-banner .c-home-banner__menu {
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
}

.c-home-banner .c-home-banner__logo {
  height: 8rem;
  top: calc(var(--height__home-banner-main) * .1);
}

.c-home-banner .c-home-banner__accordion-container {
  top: calc(var(--height__home-banner-main) * .5);
}

.c-home-banner .c-home-banner__accordion {
  outline-color: var(--theme-color__supporting-1);
}
