/**
 * Styles here directly target HTML elements -- not classes.
 *
 * These are for concerns that rarely, if ever, change, and
 * revolve around the fundmental structure of HTML.
 */

html {
 font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

blockquote,
figure,
pre {
  margin: 0;
}
