/* Import variables first so anything else can reference them */
@import "./_variables.css";

@import "./_elements.css";
@import "./_garnishes.css";
@import "./_object-patterns.css";
@import "./_pages.css";
@import "./_typography.css";
@import "./_ui-components.css";
/*@import "./_utilities.css";*/

/**
 * Target the root element for our application, which
 * Ember will insert under the <body> tag
 */
body > .ember-view {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}
