{{x-navbar
  class="p-application__navbar
         u-fixed
         u-fill-width
         u-z-1
         g-bg-white"
}}

<main class="{{concat
    'p-application__main-content '
    'u-fill '
    'u-relative '
    'u-overflow-hide '
    'u-z-0 '
    'g-bg-white '
    media.classNames
  }}"
>
  {{outlet}}
</main>